<div class="drawer"><%= image_tag('eye1.png', class: "part-button pb-circle") %>
<%= image_tag('eye2.png', class: "part-button pb-circle") %>
<%= image_tag('eye3.png', class: "part-button pb-circle") %>
<%= image_tag('eye4.png', class: "part-button pb-circle") %>
<%= image_tag('eye5.png', class: "part-button pb-circle") %>
<%= image_tag('eye6.png', class: "part-button pb-circle") %>
<%= image_tag('eye7.png', class: "part-button pb-circle") %>
<%= image_tag('eye8.png', class: "part-button pb-circle") %>
<%= image_tag('eye9.png', class: "part-button pb-circle") %>
<%= image_tag('eye10.png', class: "part-button pb-circle") %>
<%= image_tag('eye11.png', class: "part-button pb-circle") %>
</div>
