<div class="drawer">
<%= image_tag('nose1.png', class: "part-button pb-circle") %>
<%= image_tag('nose2.png', class: "part-button pb-circle") %>
<%= image_tag('nose3.png', class: "part-button pb-circle") %>
<%= image_tag('nose4.png', class: "part-button pb-circle") %>
<%= image_tag('nose5.png', class: "part-button pb-circle") %>
<%= image_tag('nose6.png', class: "part-button pb-circle") %>
<%= image_tag('nose7.png', class: "part-button pb-circle") %>
</div>
