<div class="footer">
  <div class="title">
    <%= link_to 'Create', new_artwork_path, class: "new-links" %>
    <%= link_to "Monster Toolbox", root_path %>
    <%= link_to 'Browse', artworks_path, class: "new-links" %>
  </div>
</div>

<div class="dark">
  <div class="row">

    <div id="eyes">
      <div class="small-12 columns" >
        <%= render "eyes" %>
      </div>
    </div>

    <div id="mouths">
      <div class="small-12 columns" >
        <%= render "mouths" %>
      </div>
    </div>

    <div id="noses">
      <div class="small-12 columns" >
        <%= render "noses" %>
      </div>
    </div>

    <div id="ears">
      <div class="small-12 columns" >
        <%= render "ears" %>
      </div>
    </div>

    <div id="horns">
      <div class="small-12 columns" >
        <%= render "horns" %>
      </div>
    </div>

    <div id="arms">
      <div class="small-12 columns" >
        <%= render "arms" %>
      </div>
    </div>

    <div id="legs">
      <div class="small-12 columns" >
        <%= render "legs" %>
      </div>
    </div>

    <div id="tails">
      <div class="small-12 columns" >
        <%= render "tails" %>
      </div>
    </div>

    <div id="hair">
      <div class="small-12 columns" >
        <%= render "hair" %>
      </div>
    </div>

  </div><!-- End dark -->
</div> <!-- End row -->



<!-- Top category tabs -->
<div class="pre-gums"></div>
<div class="gums">
  <div class="row">
    <div class="drawer-tab" id="eyecategory"><p>eyes</p></div>
    <div class="drawer-tab" id="mouthcategory"><p>mouths</p></div>
    <div class="drawer-tab" id="nosecategory"><p>noses</p></div>
    <div class="drawer-tab" id="earcategory"><p>ears</p></div>
    <div class="drawer-tab" id="horncategory"><p>horns</p></div>
    <div class="drawer-tab" id="armcategory"><p>arms</p></div>
    <div class="drawer-tab" id="legcategory"><p>legs</p></div>
    <div class="drawer-tab" id="tailcategory"><p>tails</p></div>
    <div class="drawer-tab" id="haircategory"><p>hair</p></div>
  </div>
</div>
<!-- Canvas and transform toolbar row -->
<div class="canvas">
  <div class="row ">

    <!-- Transform Toolbar -->
    <div class="small-1 large-1 columns">
      <div id="transform">

        <div class="transform-button" id="remove-button">
            <i class="fa fa-trash-o fa-2x"></i>
        </div>
        <br>

        <div class="transform-button" id="rotate-left">
          <i class="fa fa-undo fa-2x"></i>
        </div>
        <br>

        <div class="transform-button" id="rotate-right">
          <i class="fa fa-rotate-right fa-2x"></i>
        </div>
        <br>

        <div class="transform-button " id="bigger">
          <i class="fa fa-expand fa-2x"></i>
        </div>
        <br>

        <div class="transform-button" id="smaller">
          <i class="fa fa-compress fa-2x"></i>
        </div>
        <br>

        <div class="transform-button" id="flip-vertical">
          <i class="fa fa-arrows-v fa-2x"></i>
        </div>
        <br>

        <div class="transform-button" id="flip-horizontal">
          <i class="fa fa-arrows-h fa-2x"></i>
        </div>
        <br>

        <div class="transform-button cancel" id="cancel">
          <i class="fa fa-times fa-2x"></i>
        </div>

      </div><!-- End transform div -->
    </div> <!-- End small 1 column -->

    <!-- Here's the canvas! -->
    <div class="small-10 large-10 columns">
      <canvas id="monsterCanvas" width="900" height="500"></canvas>
    </div> <!-- End 10 columns -->

    <div class="small-1 large-1 columns">
    &nbsp;
    </div>

  </div> <!-- End row -->
</div> <!-- End canvas -->

<!-- Bottom row of teeth -->
<%= render "bottomteeth" %>
