<%= link_to image_tag('monster-nav.png', class: "homepage"), root_path %>

  <div class="dark">
  <div class="row">
    <div id="eyes">
      <div class="small-12 columns" >
        <%= render "eyes" %>
      </div>
    </div>
    <div id="mouths">
      <div class="small-12 columns" >
        <%= render "mouths" %>
      </div>
    </div>
    <div id="noses">
      <div class="small-12 columns" >
        <%= render "noses" %>
      </div>
    </div>
    <div id="ears">
      <div class="small-12 columns" >
        <%= render "ears" %>
      </div>
    </div>
    <div id="horns">
      <div class="small-12 columns" >
        <%= render "horns" %>
      </div>
    </div>
    <div id="arms">
      <div class="small-12 columns" >
        <%= render "arms" %>
      </div>
    </div>
    <div id="legs">
      <div class="small-12 columns" >
        <%= render "legs" %>
      </div>
    </div>
    <div id="tails">
      <div class="small-12 columns" >
        <%= render "tails" %>
      </div>
    </div>
    <div id="hair">
      <div class="small-12 columns" >
        <%= render "hair" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="drawer-tab" id="eyecategory">EYES</div>
  <div class="drawer-tab" id="mouthcategory">MOUTHS</div>
  <div class="drawer-tab" id="nosecategory">NOSES</div>
  <div class="drawer-tab" id="earcategory">EARS</div>
  <div class="drawer-tab" id="horncategory">HORNS</div>
  <div class="drawer-tab" id="armcategory">ARMS</div>
  <div class="drawer-tab" id="legcategory">LEGS</div>
  <div class="drawer-tab" id="tailcategory">TAILS</div>
  <div class="drawer-tab" id="haircategory">HAIR</div>
</div>

<div class="row canvas">
  <div class="small-2 large-2 columns">
    <div id="transform">
      <div class="transform-button" id="remove-button">
          <i class="fa fa-trash-o fa-2x"></i>
      </div><br>
      <div class="transform-button" id="rotate-left">
        <i class="fa fa-undo fa-2x"></i>
      </div><br>
      <div class="transform-button" id="rotate-right">
        <i class="fa fa-rotate-right fa-2x"></i>
      </div><br>
      <div class="transform-button " id="bigger">
        <i class="fa fa-expand fa-2x"></i>
      </div><br>
      <div class="transform-button" id="smaller">
        <i class="fa fa-compress fa-2x"></i>
      </div><br>
      <div class="transform-button" id="flip-vertical">
        <i class="fa fa-arrows-v fa-2x"></i>
      </div><br>
      <div class="transform-button" id="flip-horizontal">
        <i class="fa fa-arrows-h fa-2x"></i>
      </div><br>
      <div class="transform-button cancel">
        <i class="fa fa-times fa-2x"></i>
      </div>

    </div>
  </div>
  <div class="small-8 large-8 columns">
      <canvas id="monsterCanvas" width="900" height="500"></canvas>
    </div>
  </div>
  <div class="small-2 large-2 columns">
  </div>
</div>

<div class="dark">
  <div class="row">
    <div class="small-3 columns">
      <a href="#" class="button small" id="clear">Clear</a>
      <a href="#" class="button small" id="save">Save</a>
    </div>
    <div id="monster-details">
      <div class="small-3 columns">
        <%= form_for @artwork, url: {controller: 'artworks', action: 'create'}, html: {id: 'frm'} do |f| %>
          <%= f.hidden_field :monsterdrawing, id: 'data' %>
          My monster's name is
          <%= f.text_field :name, placeholder: 'Harold' %>
      </div>
      <div class="small-3 columns">
          Created by
          <%= f.text_field :artist, placeholder: 'Emily' %>
      </div>

       <div class="small-3 columns">

       <a href="#themain" class="button small" id="submit">Submit</a>
       <% end %>
       </div>
    </div>
  </div>
</div>

