<div class="footer">
  <div class="title">
    <%= link_to 'Create', new_artwork_path, class: "new-links" %>
    <%= link_to "Monster Toolbox", root_path %>
    <%= link_to 'Browse', artworks_path, class: "new-links" %>
  </div>
</div>
<div class="white-spacer"></div>
<div class="row">

  <div class="small-4 columns">
  </div>

  <div class="small-4 columns">
    <h4><strong><%= image_tag @artwork.monsterdrawing.url(:medium) %>
    <%= @artwork.name %> <br>by <%= @artwork.artist %></strong></h4>
  </div>

  <div class="small-4 columns">
  </div>

</div>
<div class="white-spacer"></div>
